.client{
  background-color: #ff443d;
  width: 250px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span{
    margin-left:1rem;
  }

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ff443d;
    margin-right:1rem;
  }
}